.container {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  align-self: flex-start;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3rem;
}