.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_section {
  position: relative;
  cursor: zoom-in;
  transition: 500ms;
  width: 100%;
  background: var(--secondary-color);
}

.title {
  position: absolute;
  font-size: 2rem;
  padding: 1rem 1rem 1rem 0;
  top: 0;
  left: 0;
  background: var(--bg-color);
  color: var(--text-primay);
}
