.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_section {
  cursor: zoom-in;
  transition: 500ms;
  width: 100%;
  transition: all 200ms ease;
  background: var(--secondary-color);
}

