:root {
  --max-width: 1200px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --bg-color: rgb(9, 9, 11);
  --primary-color: #161616;
  --secondary-color: #000;
  --text-primary: #fafafa;
  --text-secondary: rgb(200, 200, 200);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  height: 100vh;
  max-width: 100vw;
  color: var(--text-primary);
  font-family: var(--font-mono);
}

body {
  color: var(--text-primary);
  background: var(--bg-color);
}

@media (width < 720px) {
  :root {
    font-size: 14px;
  }
}

@media (width < 480px) {
  :root {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.5rem;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
