.container {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background: var(--bg-color);
}

.backdrop_video {
}

.details_container {
  position: absolute;
  z-index: 999;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 2rem;
  min-height: 2rem;
  bottom: 0;

  border-radius: 0.5rem;

  padding: 0 1rem;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.95);
  box-shadow: 4px -4px 15px 0px rgba(0, 0, 0, 1);
  border: 1px solid var(--secondary-color);
}

.details_container > article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details_container .content_video {
  align-self: center;
}

.details_container::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}

.details_scroll_handle {
  width: 100%;
  height: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;
}

.details_scroll_handle::before {
  content: "";
  height: 0.3rem;
  width: 10rem;
  background: var(--text-secondary);
  border-radius: 0.5rem;
}

.drag_hint {
  position: absolute;
  bottom: 2.6rem;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  user-select: none;
  pointer-events: none;
  font-weight: bold;
  color: var(--bg-color);
  animation: sinkup 1000ms ease infinite;
}

@keyframes sinkup {
  0% {
    transform: translateX(50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(0);
  }

  100% {
    transform: translateX(50%) translateY(-10%);
  }
}

.details_container::-webkit-scrollbar-track {
  margin-top: 1rem;
}

.details_container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  align-self: center;
}

.details_container p {
  color: var(--text-secondary);
}

@media (width < 1000px) {
  .container {
    width: 90vw !important;
    height: 80vh !important;
  }

  .backdrop_video {
    display: none;
  }

  .details_container {
    transform: translateY(0%);
    height: 100% !important;
  }

  .details_scroll_handle {
    display: none;
  }

  .drag_hint {
    display: none;
  }
}
