.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backdrop_image {
  position: absolute;
}

.details_container {
  z-index: 999;
  position: absolute;
  bottom: 0;

  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;

  padding: 1rem;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 4px -4px 15px 0px rgba(0, 0, 0, 1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.details_container h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.details_container p {
  margin-top: 1rem;
  color: var(--text-secondary);
} 
