.container {
}

.backdrop_image {
}

.details_container {
  z-index: 999;
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;

  border-radius: 1rem 1rem 0 0;

  padding: 1rem;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 4px -4px 15px 0px rgba(0, 0, 0, 1);
  border: 1px solid var(--secondary-color);

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width < 1000px) {
  .backdrop_image {
    display: none;
  }

  .container {
    width: 90vw;
    height: 80vh;
  }

  .details_container {
    height: 100% !important;
  }
}

.details_container::-webkit-scrollbar-track {
  margin-top: 1rem;
}

.details_container h1 {
  font-size: 3rem;
  text-transform: uppercase;
  align-self: center;
}

.details_container p {
  color: var(--text-secondary);
}
