.container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.info_container {
  position: absolute;
  top: 50%;
  width: 36rem;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.personal_data {
  font-size: 2rem;
  min-height: 14rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.scroll_button {
  position: fixed;
  cursor: pointer;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  animation: Sink 1500ms infinite ease;
  z-index: 999;
}

.scroll_button_bottom {
}

.scroll_button_top {
  transform: rotateX(180deg) !important;
}

@keyframes Sink {
  0% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
