.container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.info_container {
  position: absolute;
  top: 50%;
  width: 36rem;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.personal_data {
  font-size: 2rem;
  min-height: 14rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.personal_data h2 {
  background: var(--text-primary);
  color: var(--bg-color);
}

.scroll_button {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  animation: sink 1500ms infinite ease;
}

@keyframes sink {
  0% {
    transform: translateY(-10%);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10%);
  }
}
